<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About AwtySM</title>
</head>
<style>
    body {
        background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F9ilLN9cnogBAk%2Fgiphy.gif&f=1&nofb=1');
        background-size: 100%;
        background-repeat: repeat-y;
        background-attachment: fixed    ;
    }

    .wrapper {
        font-family: 'Varela Round', sans-serif;
        font-size: larger;
        color: white;
    }
</style>

<body>
    <div class="wrapper">
        <p style="text-align: left; display: flex; flex-direction: column; align-items: center;">I created AwtySM
            because I saw how my peers often connected digitally. There was one problem though: a lack <br>
            of unity. Each clique communicated separately on different platforms. AwtySM is my attempt at providing a
            <br>
            universal online social congregation for students.
        </p>
        <p style="text-align: center;">-Tarek Ali</p>
    </div>
</body>

</html>