<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>About AwtySM</title>
</head>
<style>
    body {
        background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F9ilLN9cnogBAk%2Fgiphy.gif&f=1&nofb=1');
        background-size: 100%;
        background-repeat: repeat-y;
        background-attachment: fixed;
    }

    .wrapper {
        font-family: 'Varela Round', sans-serif;
        color: white;
    }
</style>

<body style="height:auto; font-size: xx-large" ;>
    <nav class="navbar navbar-inverse navbar-fixed-top; height: 100px;">
        <ul class="nav navbar-nav">
            <li>
                <form action="/">
                    <input type="image" src="https://www.awty.org/uploaded/themes/default_16/images/logo.svg"
                        border="0">
                </form>
            </li>
            <li><a href="about.html">About</a></li>
            <li><a href="sports.html">Sports</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="memes.html">Memes</a></li>
            <li><a href="news.html">News</a></li>
        </ul>
    </nav>

    <div class="wrapper">
        <p style="text-align: left; display: flex; flex-direction: column; align-items: center;">I created AwtySM
            because I saw how my peers often connected digitally. There was one problem with this: a lack
            of unity. Each clique communicated separately on different platforms. AwtySM is my attempt at providing a
            universal and online social congregation for students.
        </p>
        <p style="text-align: center;">-Tarek Ali</p>
    </div>
</body>

</html>