<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>AwtySM</title>
</head>
<style>
    .wrapper {
        text-align: center;

    }

    .textbox {
        font-size: 25px;
        resize: none;
    }

    .button {
        font-size: 50px;
        text-align: inherit;
    }
</style>

<body>
    <div class="wrapper">
        <input type="title" name="title">
        <form>
            <textarea required maxlength="4200" name="textbox" cols="50" rows="20" class="textbox"></textarea><br>
            <input class="button" type="submit" value="Post">
        </form>
    </div>
</body>

</html>