<!DOCTYPE html>
<html lang="en">

<head>
    <title>AwtySM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="height:1500px">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="news.html">News</a></li>
                <li><a href="sports.html">Sports</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="memes.html">Memes</a></li>
                <li><a href="news.html">Chat</a></li>
            </ul>
        </div>
    </nav>

</body>

</html>