<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='snowstorm.js') }}"></script>
    <title>AwtySM Dashboard</title>
</head>

<style>
    body {
        background-color: black;
        background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2014/08/18/424402/de780aa4e8c877ef7d0be0834150e65f.jpg');
    }
</style>
<div class="page-bg"></div>



<body style="height:auto; font-size: xx-large;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li>
                <form action="/">
                    <input type="image" src="{{ url_for('static', filename='new_logo.png') }}" border="0"
                        style="padding-right: 30px; padding-left: 15px; padding-top: 10px; height: 150px;">
                </form>
            </li>
            <li style="padding-top: 50px;"><a>{{ username }}'s Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 65px;">Destinations<span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="about.html">About</a></li>
                    <li><a href="sports.html">Sports</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="memes.html">Memes</a></li>
                    <li><a href="news.html">News</a></li>
                    <li><a href="session.html">Chat</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</body>

</html>