<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>AwtySM Dashboard</title>
</head>

<body style="height:auto; font-size: xx-large;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <ul class="nav navbar-nav">
            <li>
                <form action="/">
                    <input type="image" src="https://www.awty.org/uploaded/themes/default_16/images/logo.svg"
                        border="0">
                </form>
            </li>
            <li><a>Welcome, {{ username }}</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Boards<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="about.html">About</a></li>
                    <li><a href="sports.html">Sports</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="memes.html">Memes</a></li>
                    <li><a href="news.html">News</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <img style="position: fixed"
        src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.awty.org%2Fdata%2Fnews%2Fthumbs%2F1324.768.jpg&f=1&nofb=1">
</body>

</html>