<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>AwtySM</title>
</head>
<style>
    .wrapper {
        text-align: center;
        color: red;
        text-decoration: underline;
    }

    body {
        background-color: rgb(44, 48, 44);
    }
</style>

<body>
    <div class="wrapper">
        <h1>That username is taken! Please choose a different one.</h1>
    </div>
</body>

</html>